.table-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;

  .admin-controls-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    input[type='file'] {
      display: none;
    }
  }
}
