@use "../base/core-model-base.scss";

// Import and Extend Container Styles
.import-extend-download-save-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;

  .button-style {
    height: 44px;
    min-width: 165px;
  }

  .mat-icon {
    font-size: 22px;
    margin-right: 2px;
  }
}
