# Database Configuration
POSTGRES_USER='testuser'
POSTGRES_PASSWORD='testpass'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
POSTGRES_DB='testdb'

# Embedding Model Configuration
MODEL_NAME='nomic-embed-text'
OLLAMA_URL='http://localhost:11434'
HF_KEY=''