# Database Configuration
POSTGRES_USER='testuser'
POSTGRES_PASSWORD='testpass'
POSTGRES_HOST='localhost'
POSTGRES_PORT='5432'
POSTGRES_DB='testdb'

# Keycloak Configuration
KEYCLOAK_URL='http://localhost:8080'
KEYCLOAK_REALM='myrealm'
KEYCLOAK_CLIENT_ID='kitsune-api'

# Embedding Model Configuration
MODEL_NAME='nomic-embed-text'
OLLAMA_URL='http://localhost:11434'
HF_KEY=''