name: backend-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
    
    - name: Install dependencies
      run: uv sync
      working-directory: api

    - name: Lint with flake8
      run: |
        uv tool run flake8 app --count --select=E9,F63,F7,F82 --show-source --statistics
        uv tool run flake8 app --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      working-directory: api